body
{
    scrollbar-face-color: #ffffff; 
    scrollbar-shadow-color:#2d77c2;
    scrollbar-highlight-color: 2d77c2; 
    scrollbar-3dlight-color: #f6f9fd;
    scrollbar-darkshadow-color: #ffffff; 
    scrollbar-track-color: #f6f9fd; 
    scrollbar-arrow-color: #2d77c2;
    
}
