/*Estilo para los enlaces DBDFF1*/
div.logo {
	background-image: url(../../Recursos/Imagenes/LogoInia20.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 115px;
	align: center;
	text-align: center;
}

div.copyrigth {
	background-image: url(../../Recursos/Imagenes/pie.jpg);
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
	height: 30px;
	align: center;
	text-align: center;
}

body {
	background-image: url("../../Recursos/Imagenes/skinInia.jpg");
	background-repeat: repeat;
	background-attachment: fixed;
	background-position-x: 100%;
	background-position-y: 0%;
}

TABLE {
	background-image: url("../../Recursos/Imagenes/FondoTablaPrincipal.jpg");
	background-position: center, top;	
}