.Grid 
{ 
	border: 1px solid #2d77c2;
	background-color: #FFFFFF; 
	cursor: pointer;	
}

.HeadingCell
{
	background-color: #ffffff;
	padding: 0px;				
	color: #2d77c2;
	border-bottom: #2d77c2 1px solid;	
	font-family: Arial;	
	font-size: 12px; 
	font-weight:normal; 	
}

.GroupByCell
{
	background-color: #E81333;
	padding: 1px;				
	color: #E81333;	
	font-family: Arial;	
	font-size: 11px; 
	font-weight:normal; 
	text-align: left;	
	cursor: pointer;	
}

.GroupByCellLevel
{
	padding: 1px;
	font-family: Arial;	
	font-size: 11px; 
	font-weight:normal; 
	text-align: left;
	cursor: pointer;	
}

.GroupByText
{
  color: #E81333; 
  font-size: 11px;   
  font-weight: bold; 
  padding-right: 2px;  
}

.GroupByCellText
{
	font-family: Arial;	
	font-size: 11px; 
	font-weight:normal; 
	color: #E81333;
	text-align:left;
}

.GroupHeading
{
  color: #2d77c2; 
  background-color: #FFFFFF; 
  font-family: Arial; 
  font-weight: bold;
  font-size: 11px; 
  border-bottom: 1px solid #A5A4BD;
  width: 400px;
  padding-top: 10px;
  padding-bottom: 3px;
}

.GroupByCell
{
  cursor: pointer;
}


.GridHeaderText
{
  color: #E81333;  
  font-family: Arial; 
  font-size: 11px;
  padding: 0px;
}

.HeadingCellHover
{
	background-color: #f6f9fd;   
    cursor : default;	
	padding: 0px;
	border-bottom: #2d77c2 1px solid;			
}

.HeadingCellText
{
	font-family: Arial;	
	font-size: 12px; 
	font-weight:normal; 
	color: #2d77c2;
	padding: 0px;
}

.HeadingSelectorCell
{  
	border-bottom: #2d77c2 0.5pt solid;
	height:14px;
}

.HeadingSelectorCell2
{	
	background-image: url(../Imagenes/grilla/selector_header_grilla2.gif); 
}

.Row 
{ 
	background-color: #FFFFFF; 
	cursor: default;  
	border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
	cursor: default;
	color: #2d77c2;
}

.Row a
{
	color: #2d77c2;
	font-size: 11px;
	font-family: Arial;
}

.RowHover
{
	background-color: #2d77c2;
	color: #ffffff;	
    cursor : default;  
    border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
}
.NewRow
{
	background-color: #2d77c5;
	color: #ffffff;	
    cursor : default;  
    border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
}

.RowHover a
{
	color: #ffffff;
	font-size: 11px;
	font-family: Arial;
}

.Row td.DataCell
{
	border-bottom: #f6f9fd 1px solid;	
	font-family: Arial;
	font-size: 11px;
	cursor: default;
	color: #2d77c2;
} 

.Encabezado td
{
    overflow: visible;
}

.RowDataCell
{	
	border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
	cursor: default;
	color: #2d77c2;
}

.AlternatingRow 
{
	background-color: #f6f9fd;  
	cursor: default;
	border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
	cursor: default;
	color: #2d77c2;
}

.AlternatingRow a
{
	color: #2d77c2;
	font-size: 11px;
	font-family: Arial;
}

.AlternatingRow td.DataCell 
{ 
	border-bottom: #f6f9fd 1px solid;	
	font-family: Arial;
	font-size: 11px;
	cursor: default;
	color: #2d77c2;
} 

.AlternatingRowDataCell
{	
	border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
	cursor: default;
	color: #2d77c2;
}

.SelectedRow
{
	background-color: #33CB33;
	cursor: default;
	border-bottom: #2d77c2 10px solid;
	border-top: #2d77c2 1px solid;
	color: #ffffff;
	font-family: Arial;
	font-size: 11px;
}

.SelectedRow a
{
	color: #ffffff;
	font-size: 11px;
	font-family: Arial;
}

.SelectedRowAmbit
{
	background-color: #FFFFFF;
	cursor: default;
	border-bottom: #2d77c2 10px solid;
	border-top: #2d77c2 1px solid;
	color:#2D77C2;
	font-family: Arial;
	font-size: 11px;
}
.SelectedRow td.DataCell
{
	background-color: #33CB33;
	cursor: default;
	border-bottom: #2d77c2 10px solid;
	border-top: #2d77c2 1px solid;
	color: #ffffff;
	font-family: Arial;
	font-size: 11px;
} 

.GridFooter
{
	cursor: default;
	padding: 0px;
	vertical-align: bottom;
	border-top: #2d77c2 1px solid;
	border-left: #ffffff 10px solid;
	border-right: #ffffff 10px solid;
}

.GridFooterText
{
  color: #2d77c2;  
  font-family: Arial; 
  font-size: 11px;
}

.GridFooterText a
{
  color: #2d77c2;  
  font-family: Arial; 
  font-size: 11px;
}

.CellText
{
  font-family: Arial; 
  font-size: 11px; 
}


.SliderPopup
{
	background-color: #f6f9fd;
	width: 288px;
	height: 68px;
	border-right: #2d77c2 1px solid;
	border-top: #2d77c2 1px solid;
	border-left: #2d77c2 1px solid;
	border-bottom: #2d77c2 1px solid;
}



.GrillaVacia
{
	  color: #2d77c2;  
      font-family: Arial; 
      font-size: 11px;
}

.BusquedaSinResultados
{
	  color: #2d77c2;  
      font-family: Arial; 
      font-size: 11px;
}


.TextoPager
{
	 
}

.EditDataField
{ 
  padding: 0px; 
  padding-left: 1px; 
  padding-right: 5px; 
  border-right: 0px solid #FFFFFF; 
  font-family: Arial; 
  font-size: 11px; 
  height: 19px;
} 

.DataCell 
{ 
  padding: 1px; 
  border-right: 0px solid #000000; 
  border-bottom: 0px solid #000000; 
  font-family: arial; 
  font-size: 11px; 
  height: 19px;
} 

.EditDataCell
{ 
  padding: 0px; 
  background-color: #2d77c2; 
  border-width: 0px;
} 

.GridClass
{
  CURSOR: default
}

.RowClass
{
  BACKGROUND-COLOR: #ffffff
}



.AlternatingRowClass 
{
  BACKGROUND-COLOR: #ddecfe
}

.HeaderClass 
{
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  FONT-FAMILY: verdana
}

.HeadingCellClass 
{
  PADDING-RIGHT: 10px;
  PADDING-LEFT: 4px;
  HEIGHT: 20px
}

.HeadingTextClass 
{
  PADDING-LEFT: 5px;
  FONT-WEIGHT: bold;
  FONT-SIZE: 10px;
  FONT-FAMILY: verdana;
  WHITE-SPACE: nowrap
}

.HeadingRowClass 
{
  BACKGROUND: url(images/blue_bg.gif)
}



.SelectedRowClass 
{
  BORDER-RIGHT: #040484 1px solid;
  BORDER-TOP: #040484 1px solid;
  BORDER-LEFT: #040484 1px solid;
  BORDER-BOTTOM: #040484 1px solid;   BACKGROUND-COLOR: #90a8d0
}

.SelectedRowClass TD.DataCell 
{
  BORDER-RIGHT: #90a8d0 1px solid
}

.IndentCell 
{
  BORDER-RIGHT: 0px;
  BACKGROUND: #FFFFFF;
  HEIGHT: 20px
}
.RowPadding 
{ 
	background-color: #FFFFFF; 
	cursor: default;  
	border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
	cursor: default;
	color: #2d77c2;
	padding-top:3px;
	padding-bottom:3px;
}

.RowHoverPadding
{
	background-color: #2d77c2;
	color: #ffffff;	
    cursor : default;  
    border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
	padding-top:3px;
	padding-bottom:3px;
}


.SelectedRowPadding
{
	background-color: #33CB33;
	cursor: default;
	border-bottom: #2d77c2 10px solid;
	border-top: #2d77c2 1px solid;
	color: #ffffff;
	font-family: Arial;
	font-size: 11px;
	padding-top:3px;
	padding-bottom:3px;
}


.AlternatingRowPadding
{
	background-color: #f6f9fd;  
	cursor: default;
	border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
	cursor: default;
	color: #2d77c2;
	padding-top:3px;
	padding-bottom:3px;
}


.RedRow
{
    background-color: #ff3300;
    cursor: default;
    border-bottom: #2d77c2 10px solid;
    border-top: #2d77c2 1px solid;
    color: #ffffff;
    font-family: Arial;
    font-size: 11px;
}


.EditDataCellValor
{ 
  padding: 0px; 
  background-color: #2d77c2; 
  border-width: 0px;  
  text-align:right;
} 

.EditDataFieldValor
{ 
  padding: 0px; 
  padding-left: 1px; 
  padding-right: 5px; 
  border-right: 0px solid #FFFFFF; 
  font-family: Arial; 
  font-size: 11px; 
  height: 19px;
  text-align:right;
}

.CeldaGrilla
{    
	border-left: 1px solid #2d77c2;		
	padding-left: 5px;
	padding-right: 5px;
	
}


