.GridClass
{ 
	border: 1px solid #2d77c2;
	background-color: #FFFFFF; 
	CURSOR: default;
	color: #2d77c2;		 	
}
.RowClass
{
  BACKGROUND-COLOR: #ffffff ;
  font-weight:normal;
  font-family: Arial;	  	 
}

.DataCell 
{
  BORDER-RIGHT: #ddecfe 1px solid;
  PADDING-RIGHT: 4px;
  font-family: Arial;	
  font-size : 12px; 
  font-weight :normal; 
  CURSOR: default;
  
}

.AlternatingRowClass 
{
  BACKGROUND-COLOR: #ddecfe
}

.HeaderClass 
{
	font-family: Arial;	
	font-size: 12px; 
	font-weight:normal; 
    border: 1px solid #2d77c2;    
}

.HeadingCellClassH 
{				
	color: #2d77c2;			
	border-bottom: #2d77c2 1px solid;	
	font-family: Arial;	
	font-size: 12px; 
	font-weight:normal; 	
}

.HeadingTextClassArbol 
{
 BACKGROUND: url(../../Recursos/Imagenes/GrillaArbol/base_bg.gif);
 border-bottom: #2d77c2 1px solid;
 font-family: Arial;	
 font-size: 12px; 
 font-weight:normal;	 
}

.HeadingRowClassArbol 
{
  BACKGROUND: url(../../Recursos/Imagenes/GrillaArbol/base_bg.gif);
  }


.SelectedRowClass 
{
  BORDER-RIGHT: #040484 1px solid;
  BORDER-TOP: #040484 1px solid;
  BORDER-LEFT: #040484 1px solid;
  BORDER-BOTTOM: #040484 1px solid;   BACKGROUND-COLOR: #90a8d0
}

.SelectedRowClass TD.DataCell 
{
  BORDER-RIGHT: #90a8d0 1px solid
}

.IndentCell 
{
  BORDER-RIGHT: 0px;
  BACKGROUND: #FFFFFF;  
  HEIGHT: 20px
}


.HideRowClass
{	
  Display:none;
}
.Arbolabajo
{		
	border-bottom: #2d77c2 1px solid;	
}

.data
{
	font-family: Arial;	
    font-size: 12px; 
    font-weight:normal;	
    BACKGROUND: url(../../Recursos/Imagenes/GrillaArbol/abajo.gif);
}
.imagen-abajo
{
	
	BACKGROUND: url(../../Recursos/Imagenes/GrillaArbol/abajo.gif);
}
.borde-abajo
{
	border-bottom: #2d77c2 1px solid;	
	
}
.borde-abajo-azul
{
    background-color:#2d77c2;	 
	border-bottom: #2d77c2 1px solid;	
	
}

.letra-titulo
{
	
	font-family: Arial;	
    font-size: 12px; 
    font-weight:normal;
    color: #2d77c2;
	
}

.letra-titulo-azul
{
	font-family: Arial;	
    font-size: 12px; 
    font-weight:normal;	
}

.colorBlanco
{
	color :#FFFFFF;
	font-family: Arial;	
    font-size: 12px; 
    font-weight:normal;
	

	
}
.letra
{  	
	font-family: Arial;	
    font-size: 11px; 
    font-weight:normal;	
}
	
.letra-azul
{  
	background-color:#2d77c2;	
	color:#ffffff;
	font-family: Arial;	
    font-size: 11px; 
    font-weight:normal;
	
}
	
.letraAbajo
{
	font-family: Arial;	
    font-size: 11px; 
    font-weight:normal;     
    border-bottom: #2d77c2 1px solid;	
	color: #2d77c2;	
	}
.borde-abajo-y-arriba
{
	background-color:#2d77c2;	
	color:#ffffff;
	border-bottom: #2d77c2 1px solid;
	border-top:#2d77c2 1px solid; 		
}
.borde-abajo-arriba-e-izquierda
{
	background-color:#2d77c2;	
	color:#ffffff;
	border-bottom: #2d77c2 1px solid;
	border-top:#2d77c2 1px solid;
	border-left:#2d77c2 1px solid; 
}
.ScrollBar
{
  background-image: url(../../Recursos/Imagenes/GrillaArbol/Scroll/scroller_bg.gif); 
}

.ScrollGrip
{
  background-image: url(../../Recursos/Imagenes/GrillaArbol/Scroll/scroll_gripBg.gif); 
}

.ScrollPopup
{
  background-color: #FFFFFF; 
  border: 1px solid #666666;
  border-right-width: 2px;
  border-bottom-width: 2px;
  height: 23px;
}
.TemplateHover 
{
	background-color: #2d77c2;
	color: #ffffff;	
    cursor : default;  
    border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
}



.Template
{
	color: #2d77c2;	
    cursor : default;  
    border-bottom: #f6f9fd 1px solid;
	font-family: Arial;
	font-size: 11px;
}
