input
{
    background-color: White; 
    border-color: #2D77C2; 
    border-style: solid; 
    border-width: 0.5pt; 
    height: 22px;
    color:#2D77C2;
    background-color: White; 
    font-style:normal;   
}
