.TopMenuGroup
{
  background-color:Transparent;  
  cursor:default;  
  height:10px; 
}

.MenuGroup
{
  background-color:#2d77c2;
  border:1px white solid; 
  border-style:solid;
  cursor:default;
  height:10px;
  filter:progid:DXImageTransform.Microsoft.Alpha( Opacity=95, FinishOpacity=65, Style=1, StartX=40,  FinishX=100, StartY=40, FinishY=100);  
  
 }

  
.TopMenuItem
{
    color: #ffffff;
    font-family: arial;
    font-size: 10px;
    font-weight: normal;
    cursor: default;
    border-top:1px #FFFFFF solid;   
}

.TopMenuItemHover
{
	color: #ffffff;
	background-color: #2d77c2;	
	font-family: arial;
	font-size: 10px;
	font-weight:normal;
	cursor: default;
	border-top:1px #FFFFFF solid;
	background-image:url(../../recursos/imagenes/Prototipo MASTER 2/over2.jpg);
	background-position:(center)(top)
}

.MenuItem
{
  background-color:#2d77c2;
  color:#ffffff;
  
  font-family:arial; 
  font-size:11px; 
  cursor:default;
  
 
}

.MenuItemHover
{
	background-color:#ffffff;
	color: #2d77c2;
	font-family: arial;
	font-size: 11px;
	cursor: default;
	border-style:solid;
    border-left-width:0px;
    border-right-width:0px; 
    width:100%;
    border:0px #f6f9fd solid;
}



.MenuItemExpanded
{
  background-color:#83B0DA;
	color: #ffffff;
	font-family: arial;
	font-size: 11px;
	cursor: default;
	border:0px #2D77C2 solid;
	border-style:solid;
    border-left-width:0px;
    border-right-width:0px; 
    width:100%;
}

.MenuItemActive
{
  color: #ffffff;
  background-color:#33cb33;
  font-family:arial; 
  font-size:11px; 
  cursor:default; 
  border:1px #33cb33 solid;
	border-style:solid;
    border-left-width:0px;
    border-right-width:0px; 
}

.MenuBreak
{
  background-color:Transparent; 
  width:100%;
  height:0px;
}

.ScrollItem
{
  text-align:center;
  cursor:default;
}

.ScrollItemH
{
   
  text-align:center;
  cursor:default;
}

.ScrollItemA
{
  
  text-align:center;
  cursor:default;
}


