.TopGroup
{
  cursor:pointer; 
  border: 0px;
}

.MenuGroup
{
  background-color:#F5F5F5;
  border:1px #4E5358 solid; 
  border-style:solid;
  cursor:default; 
}

.MenuItem
{
  border: 1px solid #F5F5F5; 
  color:#00025C;
  font-family:tahoma; 
  font-size:11px; 
  cursor:default; 
}

.MenuItemHover 
{
  background-color:#FFEEC2; 
  color: #333333;
  border: 1px solid #57566F; 
  border-top-color: #9190AC; 
  border-left-color: #9190AC;
  font-family:tahoma; 
  font-size:11px; 
  cursor:default; 
}
