.HorizontalSplitterBar
{
  background: url(images/splitter_horBg.gif); 
}

.CollapsedHorizontalSplitterBar
{
  background: url(images/splitter_horBg.gif); 
  border: 1px solid #f6f9fd;
  border-right-width: 0px;
}

.ActiveSplitterBar
{
  background-color: #f6f9fd;  
  filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100); 
  opacity: 0.4;
}

.SplitterPane
{
  border: 1px solid #f6f9fd;
}

.DetailsPane
{
  border: 7px solid #f6f9fd;
}
